*{
	margin: 0px;
	padding: 0px;	
   }
body{
	text-align: center;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
	font-size: 14px;
	color: #1d1d1d;
    height:auto;
    list-style-type: none;
    }
header,nav,article,
section,aside,footer{
	display: block;
   }
img{
	border: none;
	
   }
   h2{/*titles */
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	color: #404040;
}
h3{/*sub titles*/
	margin-bottom:15px;
	font-size: 22px;
	color: white;
	text-shadow:1px 1px 3px #080808;
}
h4{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	font-weight:normal;
    color: #606060;
  }

  a:link{
	color: #006699;
	text-decoration: none;
       }
a:visited{
	color: #006699;
	text-decoration: none;
     }
a:hover{
	color: #ffffff;
	text-decoration: underline;
      }
a:active{
	color: rgb(211, 117, 24);
	text-decoration: underline;
    }
 #main_container{
    width: 1000px;
	margin: 15px auto 0px;
	text-align: left;
    }
.right_header{
    float: right;
	text-align: right;
    }
.right_header a:hover{
        color:orange;
        text-decoration: underline;
    }
.main_header img{
    width:8%;
}
.main_header h2{
    color:rgb(3, 3, 182);
}
#search_form{
	margin-top: 10px;
	padding: 5px 0px 5px 5px;
	display: block; 
	text-align:center;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	background-color: #18445a;
}

.menu{
    padding:0;
    margin:0;
    line-height:20px;
    float:left;
}
.menu li{
    list-style:none;
    display:inline;
    }
.menu a{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-decoration:none;
    color:white;
    padding:10px;
    font-size:15px;
    }
.menu a:hover{
    color:rgb(211, 117, 24);
    text-decoration:underline;
    font-weight:bolder;
    
    }
#form{
    padding-right:8px;
    text-align:right;
    line-height:20px
    }
.input1{

    font-size: 15px;
    padding: 8px;
    border: 1px solid #b9bdc1;
    width: 500px;
    color: #505050;

    }
.searchBox{
    padding: 4px;
    border: 1px solid #b9bdc1;
    color: #505050;
    width:40%;
}
.button_top{
	-moz-box-shadow: 0px 1px 0px 0px #fed897;
	-webkit-box-shadow: 0px 1px 0px 0px #fed897;
	box-shadow: 0px 1px 0px 0px #fed897;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f6b33d), color-stop(1, #d29105) );
	background: -moz-linear-gradient( center top, #f6b33d 5%, #aa771d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6b33d', endColorstr='#d29105');
	background-color: #aa771d;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #eda933;
	display: inline-block;
	color: #ffffff;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
    font-weight: bold;
    line-height: 16px;
	padding: 4px 10px;
	text-decoration: none;
	text-shadow: 1px 1px 5px #303030;
}
.button{
	-moz-box-shadow: 0px 1px 0px 0px #fed897;
	-webkit-box-shadow: 0px 1px 0px 0px #fed897;
	box-shadow: 0px 1px 0px 0px #fed897;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f6b33d), color-stop(1, #d29105) );
	background: -moz-linear-gradient( center top, #f6b33d 5%, #aa771d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6b33d', endColorstr='#d29105');
	background-color: #aa771d;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 1px solid #eda933;
	display: inline-block;
	color: #ffffff;
	font-family: arial;
	font-size: 14px;
	font-weight: bold;
	padding: 2px 10px;
	text-decoration: none;
	text-shadow: 1px 1px 5px #303030;
}
.button:hover{
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d29105), color-stop(1, #f6b33d) );
	background: -moz-linear-gradient( center top, #d29105 5%, #f6b33d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d29105', endColorstr='#f6b33d');
	background-color: #d29105;
}
.button_active{
	position: relative;
	top: 1px;
}
#left_content{
	width: 450px;
	margin-top: 10px;
	margin-right:3%;
	margin-bottom:20px;
	float: left;
	border:1px solid #b9bdc1;
}
#right_content{
	margin-top: 10px;
	margin-bottom:20px;
	float: left;
	width: 510px;
	
}
#Registerform{
    padding: 20px;
	background: #18445a;
	overflow: auto;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	box-shadow: 5px 5px 15px #A0A0A0;
	-moz-box-shadow: 5px 5px 15px #A0A0A0;
	-webkit-box-shadow: 5px 5px 15px #A0A0A0;

}
.input{
	font-size: 15px;
	padding: 8px;
	border: 1px solid #b9bdc1;
	width: 66%;
	color: #505050;
	
	
	
}
.input:focus{
	background-color: white;
}

.field{
	margin-bottom: 7px;
	
	
}


label{
	display:block;
	float: left;
	font-weight: bold;
	margin-right: 10px;
	text-align:right;
	width: 120px;
	line-height: 25px;
	font-size: 15px;
	color: white;
	text-shadow:1px 1px 3px #080808;
	
	
}
.footer{	
	padding-top: 10px;
	clear: both;
	color:white;	
	height:50px;
	font-size: 18px;
	background: #18445a;
}
.copyright {
    float: left;
    width: 50%;
    padding: 10px;	
    text-align: left;
}
.copyright a{
color:rgb(248, 240, 240);
}
.copyright a:hover{
    color:rgb(211, 117, 24);
    text-decoration:underline;
    font-weight:bolder;
}
.developer {
    float: right;   
    text-align: right;
    padding: 10px;
    color: rgb(250, 243, 243);
}
.developer a{
    color:rgb(248, 240, 240);

}
.developer a:hover{
    color:rgb(211, 117, 24);
    text-decoration:underline;
    font-weight:bolder;
}
